@font-face {
    font-family: "Asap";
    src: url("/resources/fonts/Asap-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Lucida Sans";
    src: url(/resources/fonts/Lucida-Sans-Italic.ttf) format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("/resources/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans";
    src: url("/resources/fonts/PTS55F.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans Narrow Bold";
    src: url("/resources/fonts/PTN77F.ttf") format("truetype");
}

@font-face {
    font-family: "Segoe UI Light";
    src: url("/resources/fonts/SegoeUI-light.ttf") format("truetype"),
    url("/resources/fonts/SegoeUI-light.woff") format("woff");
}

@font-face {
    font-family: "Segoe UI Bold";
    src: url("/resources/fonts/SegoeUI-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Segoe WP Light";
    src: url("/resources/fonts/segoe-wp-light.ttf") format("truetype");
}

@font-face {
    font-family: "Segoe WP";
    src: url("/resources/fonts/SegoeWP.ttf") format("truetype"),
    url("/resources/fonts/SegoeWP.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
a,
.design,
.customise,
.free,
.about,
.sevices,
.contact {
    text-transform: uppercase;
}

ul{
    list-style-type: none;
}


body {
    width: 1300px;
}

header {
    position: absolute;
    width: 100%;
    height: 566px;
    background-image: url(./resources/image/header-bg.png);
    background-repeat: no-repeat;
}

.logo-container-header {
    position: relative;
    top: 28px;
    left: 140px;
    width: 317px;
    height: 83px;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
}

.logo-45 {
    position: absolute;
    left: 2px;
    top: 2px;
}

.logo-container-header h2.logo-title {
    position: absolute;
    right: 7px;
    top: 23px;
    font: italic 41px "Lucida Sans";
    font-stretch: 10%;
    color: #ffffff;
}

.menu-container {
    position: relative;
    left: 698px;
    top: -20px;
}

.bg-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.bg-2 {
    position: absolute;
    top: 3px;
    left: 4px;
}

nav.menu {
    position: absolute;
    top: 8px;
    left: 9px;
    background-image: url(./resources/image/rectangle-nav.png);
    width: 453px;
    height: 41px;
    text-align: center;
    display: inline;
    vertical-align: middle;
}

.menu ul {
    text-align: center;
    margin-left: 30px;
}

.menu ul li{
    display: inline-flex;
    padding: 8px 20px 8px 20px;
    flex-wrap:nowrap;
    justify-content: space-evenly;
}

.menu ul li a {
    font: normal 17px "Segoe WP";
    font-stretch: 10%;
    text-decoration: none;
    color: #9b7d08;
    text-align: center;
}

.menu ul li:nth-child(2) {
    border-left: 2px solid #9b7d08;
    border-right: 2px solid #9b7d08;
}

.menu ul li a img{
    position: relative;
    top: 1px;
    right: 10px;
}

.arrow {
    position: absolute;
    top: 300px;
    left: 0;
    width: 1300px;
    height: 57px;
}

.arrow-left {
    display: block;
    position: relative;
    float: left;
    background: #c4a30a;
    width: 32px;
    height: 57px;
}

.arrow-left:hover,
.arrow-right:hover {
    background: #f5c506;
}

.arrow-right {
    display: block;
    position: relative;
    float: right;
    background: #c4a30a;
    width: 32px;
    height: 57px;
}

.arrow-right img {
    margin: 19px 11px 19px 8px;
}

.arrow-left img {
    margin: 19px 8px 19px 11px;
}

figure.player  {
    position: absolute;
    top: 168px;
    left: 150px;
    width: 549px;
    height: 327px;
    background-image: url(./resources/image/player-shot.png);
    background-repeat: no-repeat;
}

.play-big {
    display: flex;
    align-items: center;
    justify-content: center;
}