@font-face {
    font-family: "Asap";
    src: url("/resources/fonts/Asap-Regular.otf") format("opentype");
    font-style: normal;
}

@font-face {
    font-family: "Lucida Sans";
    src: url(/resources/fonts/Lucida-Sans-Italic.ttf) format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("/resources/fonts/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("/resources/fonts/PTS55F.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "PT Sans Narrow Bold";
    src: url("/resources/fonts/PTN77F.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI Light";
    src: url("/resources/fonts/SegoeUI-light.ttf") format("truetype"),
    url("/resources/fonts/SegoeUI-light.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI Bold";
    src: url("/resources/fonts/SegoeUI-Bold.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Segoe WP Light";
    src: url("/resources/fonts/segoe-wp-light.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Segoe WP";
    src: url("/resources/fonts/SegoeWP.ttf") format("truetype"),
    url("/resources/fonts/SegoeWP.woff") format("woff");
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
a,
figcaption,
.design,
.customise,
.free,
.about,
.sevices,
.contact {
    text-transform: uppercase;
}

ul{
    list-style-type: none;
}


body {
    width: 1300px;
}

header {
    position: relative;
    width: 1300px;
    height: 566px;
}

.header-pattern {
    position: absolute;
    height: 100%;
}

.header-pattern:after {
    content: '';
    display: block;
    background: url(./resources/image/header-pattern.png) repeat;
    background-size: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .4;
    pointer-events: none;
}

.logo-container-header {
    position: relative;
    top: 28px;
    left: 140px;
    width: 317px;
    height: 83px;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
}

.logo-45 {
    position: absolute;
    left: 2px;
    top: 2px;
}

.logo-container-header .logo-title {
    position: absolute;
    right: 7px;
    top: 23px;
    font: italic 41px "Lucida Sans";
    letter-spacing: .01em;
    color: #ffffff;
}

.menu-container {
    position: relative;
    left: 698px;
    bottom: 20px;
}

.bg-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 453px;
    height: 41px;
    background: #f5c506;
    opacity: .27;
}

.bg-2 {
    position: absolute;
    top: 3px;
    left: 4px;
    width: 453px;
    height: 41px;
    background: #f5c506;
    opacity: .27;
}

nav.menu {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #f5c506;
    width: 453px;
    height: 41px;
}

.menu ul {
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}

.menu ul li{
    display: inline-flex;
    width: auto;
    height: 100%;
}

.menu ul li a {
    padding: 0px 21px 0px 23px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font: normal 17px "Segoe WP";
    font-stretch: 10%;
    text-decoration: none;
    color: #9b7d08;
}

.menu ul li:first-child  a{
    padding: 0px 23px 0px 50px;
}


.menu ul li:nth-child(2) {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.menu ul li a img{
    position: relative;
    right: 9px;
}

.arrow {
    position: absolute;
    top: 300px;
    left: 0;
    width: 1300px;
    height: 57px;
}

.arrow-left {
    display: block;
    position: relative;
    float: left;
    background: #c4a30a;
    width: 32px;
    height: 57px;
}

.arrow-left:hover,
.arrow-right:hover {
    background: #f5c506;
}

.arrow-right {
    display: block;
    position: relative;
    float: right;
    background: #c4a30a;
    width: 32px;
    height: 57px;
}

.arrow-right img {
    margin: 19px 8px 19px 11px;
}

.arrow-left img {
    margin: 19px 8px 19px 8px;
}

.player  {
    position: absolute;
    top: 168px;
    left: 150px;
    box-shadow: 0 0 5px rgba(0,0,0,.75);
    opacity: .89;
}


.title-header {
    position: relative;
    top: 166px;
    left: 743px;
    width: 401px;
    text-align: center;

}

.title-header .title-yellow {
    padding-right: 10px;
    color: #f5c506;
    font: normal 63px "Asap";
    letter-spacing: .015em;
    line-height: 1;
}

.title-header .title-white {
    padding-left: 5px;
    color: #ffffff;
    font: normal 63px "Asap";
    letter-spacing: .013em;
    line-height: 1.35;
    width: auto;
}

main {
    position: relative;
    height: 1217px;
}

.main-pattern {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
}

.main-pattern img {
    box-shadow:
            0px 10px 8px -10px rgba(0,0,0,0.5),
            0px 10px 8px -10px rgba(0,0,0,0.5);
}

.main-section {

    height: 213px;
    width: 100%;
}

.main-section ul {
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin: auto 139px;
}

.main-section ul li {
    width: 100%;
    height: 100%;
}

.main-section ul li figure.main-nav {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-flow: column;
    align-items: center;
}

.main-section ul li:nth-child(1) figure.main-nav img {
    padding: 62px 2px 0 0;
}

.main-section ul li:nth-child(2) figure.main-nav img {
    padding: 37px 0px 0 27px;
}

.main-section ul li:nth-child(3) figure.main-nav img {
    padding: 55px 22px 0 0;
}

.main-section ul li figure.main-nav figcaption {
    font: normal 27px "Segoe UI Light";
    padding: 0px 0px 31px 21px;
    letter-spacing: 10%;
}

.main-section ul li:nth-child(3) figure.main-nav figcaption {
    padding: 0 16px 31px 0px;
}

.materials {
    height: 508px;
    width: 100%;
    background-image: url(./resources/image/materials-bg.png);
}

.materials h3 {
    padding: 31px 140px 20px 140px;
    text-align: left;
    letter-spacing: .4px;
    font: normal 37px "PT Sans";
    color: #ffffff;
}

.materials .text-section {
    float: left;
    margin: 10px 0 0 140px;
    width: 341px;
    height: 312px;
}

.materials .text-section .text-section-container {
    background: #ec9e03;
    width: 100%;
    height: 233px;
}

.materials .text-section .text-section-container p {
    padding: 17px 32px;
    font: normal 27px "Segoe WP Light";
    letter-spacing: 1.1px;
    line-height: 1.4;
    color: #ffffff;
}

.materials .text-section .text-section-container img {
    position: relative;
    bottom: 17px;
    left: 315px;
}

.materials .text-section .calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ddb101;
    width: 113px;
    height: 86px;
}

.materials .text-section .calendar h2 {
    font-weight: bold;
    font-style: normal;
    font-size: 55px;
    font-family: "Segoe UI Bold", monospace;
    height: 56px;
    margin: 0px 0px -3px 5px;
    color: #ffffff;

}

.materials .text-section .calendar p {
    font: normal 21px "Segoe UI";
    height: 22px;
    text-transform: uppercase;
    color: #b26529;
    padding: 0px 0px 0px 7px;
}

.materials figure {
    position: relative;
    float: left;
    margin: 10px 0px 0px 0px;
}

.video-player {
    position: absolute;
    top: 93px;
    left: 129px;
    width: 61px;
    height: 61px;
}

.video-player img{
    position: absolute;
}

.video-player img:last-child{
    top: 15px;
    left: 25px;
}

.twitter-body {
    position: relative;
    float: right;
    margin: 10px 142px 0 0px;
    width: 329px;
    height: 233px;
    background: #ec9e03;
}

.twitter-body p {
    position: absolute;
    top: 11px;
    right: 17px;
    font: normal 25px "Segoe WP Light";
    color: #ffffff;
}

.twitter-body img.twitter {
    position: absolute;
    top: 59px;
    left: 83px;
}

.twitter-body img:last-child {
    position: absolute;
    bottom: 13px;
    right: 9px;
}

.materials figure.scroll {
    position: relative;
}

.materials figure img.mat-scroll {
    position: relative;
    top: 41px;
    left: 211px;
}

.materials figure img:last-child {
    position: absolute;
    top: 41px;
    left: 458px;
}

.responsive {
    height: 498px;
    width: 100%;
}

